# Ignore the specific data folder
SkySat_ME_noSaturation/

# Ignore Python cache and environments
__pycache__/
venv/
env/

# Ignore large model files
*.pt
*.pth
*.ckpt
*.h5

# Ignore other large data files
*.csv
*.zip
*.tar.gz